<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/form.js" defer></script>
</head>

<body>
    <header>
        <div class="header">
            <img src="img/logo-uta.png" alt="logo uta" class="logo">

            <nav>
                <ul class="navbar oculto" id="menu">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Portafolio</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Acerca</a></li>
                    <li><a href="#">Informes</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h1 class="title" id="title">Registrate para formar parte de esta gran institucion educativa</h1>

        <p class="error oculto" id="mensaje-error">Uno o mas campos estan vacios, debe rellenar todos para poder
            continuar</p>

        <form action="#" id="form" class="form">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre">

            <label for="apellidoP">Apellido Paterno:</label>
            <input type="text" id="apellidoP">

            <label for="apellidoM">Apellido Materno:</label>
            <input type="text" id="apellidoM">

            <label for="email">Correo:</label>
            <input type="email" id="email">

            <label for="password">Contraseña:</label>
            <input type="password" id="password">

            <label for="password">Confirma la Contraseña:</label>
            <input type="password" id="passwordConfirm">

            <input type="submit" value="Enviar" class="btn">
        </form>

        <form action="#" class="form oculto" id="login">
            <label for="email">Correo:</label>
            <input type="email" id="email">

            <label for="password">Contraseña:</label>
            <input type="password" id="password">

            <input type="submit" value="Iniciar Sesion" class="btn">

        </form>

        <div class="container oculto" id="container">
            <div class="card">
                <img src="img/logo-uta.png" alt="logo" class="logo center">

                <h3>Lorem ipsum dolor sit am</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At necessitatibus corrupti repellendus
                    assumenda autem quo architecto praesentium suscipit sapiente voluptatum natus officia et enim
                    mollitia ipsam quibusdam, id beatae repellat iste eaque amet temporibus harum? Cupiditate, eius,
                    consectetur commodi perferendis odit incidunt, ipsa similique quasi cumque maxime impedit amet
                    dolorem repellendus iure ad illum ducimus tenetur. Doloremque impedit cumque consequuntur fuga
                    praesentium nam, eos architecto dolorem autem sunt modi corporis, eveniet animi laboriosam. Amet hic
                    nisi mollitia aut! Nam maiores molestiae eveniet officiis iste repudiandae velit sed, pariatur
                    eligendi voluptatem nemo doloremque quos qui consequatur veritatis laboriosam explicabo! Dignissimos
                    deleniti, eligendi voluptas saepe id consectetur dolorum, ipsa tempora ab facere quam? Quos error
                    architecto atque itaque accusamus? Eligendi, necessitatibus sequi obcaecati laboriosam saepe nisi
                    deleniti magnam molestias accusantium eum quam, quaerat modi, nemo qui sapiente ratione similique
                    itaque sint possimus asperiores. Fugit veritatis itaque, possimus quam, similique qui soluta
                    distinctio numquam iure, labore unde incidunt at odio sit totam. Eveniet officiis non tempore rem
                    culpa, ipsum sequi quisquam suscipit veniam cupiditate provident molestiae quis libero saepe nemo
                    animi commodi possimus sapiente nesciunt distinctio vitae dignissimos expedita! Possimus voluptate
                    mollitia reiciendis numquam ullam. Beatae reprehenderit voluptas culpa. Illo quo officia nam!</p>

                <!-- <input type="submit" value="Ver mas" class="btn"> -->
            </div>

            <div class="card">
                <img src="img/logo-uta.png" alt="logo" class="logo center">

                <h3>Lorem ipsum dolor sit am</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At necessitatibus corrupti repellendus
                    assumenda autem quo architecto praesentium suscipit sapiente voluptatum natus officia et enim
                    mollitia ipsam quibusdam, id beatae repellat iste eaque amet temporibus harum? Cupiditate, eius,
                    consectetur commodi perferendis odit incidunt, ipsa similique quasi cumque maxime impedit amet
                    dolorem repellendus iure ad illum ducimus tenetur. Doloremque impedit cumque consequuntur fuga
                    praesentium nam, eos architecto dolorem autem sunt modi corporis, eveniet animi laboriosam. Amet hic
                    nisi mollitia aut! Nam maiores molestiae eveniet officiis iste repudiandae velit sed, pariatur
                    eligendi voluptatem nemo doloremque quos qui consequatur veritatis laboriosam explicabo! Dignissimos
                    deleniti, eligendi voluptas saepe id consectetur dolorum, ipsa tempora ab facere quam? Quos error
                    architecto atque itaque accusamus? Eligendi, necessitatibus sequi obcaecati laboriosam saepe nisi
                    deleniti magnam molestias accusantium eum quam, quaerat modi, nemo qui sapiente ratione similique
                    itaque sint possimus asperiores. Fugit veritatis itaque, possimus quam, similique qui soluta
                    distinctio numquam iure, labore unde incidunt at odio sit totam. Eveniet officiis non tempore rem
                    culpa, ipsum sequi quisquam suscipit veniam cupiditate provident molestiae quis libero saepe nemo
                    animi commodi possimus sapiente nesciunt distinctio vitae dignissimos expedita! Possimus voluptate
                    mollitia reiciendis numquam ullam. Beatae reprehenderit voluptas culpa. Illo quo officia nam!</p>
            </div>

            <div class="card">
                <img src="img/logo-uta.png" alt="logo" class="logo center">

                <h3>Lorem ipsum dolor sit am</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At necessitatibus corrupti repellendus
                    assumenda autem quo architecto praesentium suscipit sapiente voluptatum natus officia et enim
                    mollitia ipsam quibusdam, id beatae repellat iste eaque amet temporibus harum? Cupiditate, eius,
                    consectetur commodi perferendis odit incidunt, ipsa similique quasi cumque maxime impedit amet
                    dolorem repellendus iure ad illum ducimus tenetur. Doloremque impedit cumque consequuntur fuga
                    praesentium nam, eos architecto dolorem autem sunt modi corporis, eveniet animi laboriosam. Amet hic
                    nisi mollitia aut! Nam maiores molestiae eveniet officiis iste repudiandae velit sed, pariatur
                    eligendi voluptatem nemo doloremque quos qui consequatur veritatis laboriosam explicabo! Dignissimos
                    deleniti, eligendi voluptas saepe id consectetur dolorum, ipsa tempora ab facere quam? Quos error
                    architecto atque itaque accusamus? Eligendi, necessitatibus sequi obcaecati laboriosam saepe nisi
                    deleniti magnam molestias accusantium eum quam, quaerat modi, nemo qui sapiente ratione similique
                    itaque sint possimus asperiores. Fugit veritatis itaque, possimus quam, similique qui soluta
                    distinctio numquam iure, labore unde incidunt at odio sit totam. Eveniet officiis non tempore rem
                    culpa, ipsum sequi quisquam suscipit veniam cupiditate provident molestiae quis libero saepe nemo
                    animi commodi possimus sapiente nesciunt distinctio vitae dignissimos expedita! Possimus voluptate
                    mollitia reiciendis numquam ullam. Beatae reprehenderit voluptas culpa. Illo quo officia nam!</p>
            </div>
            <input type="submit" class="btn btn-left" value="Ver mas">
        </div>

    </main>
</body>

</html>